<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSWamp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RSWebSocket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sample Apps: AutobahnTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Sample Apps: Echo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WAMPSimpleClient1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B0BE75B15B4CEC40080ADC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0BE76C15B4CEC40080ADC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0BE78915B4F07E0080ADC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0BE7A315B4F07E0080ADC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0D5BB01512DADF007BFB75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B19FC6F14D615E100D8F2CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B19FC8714D615E100D8F2CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BFD3A941537793000F9A1F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BFD3AB31537D5D100F9A1F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
